aiohttp==3.7.4
async-timeout==3.0.0
atomicwrites==1.1.5
attrs==18.1.0
certifi==2018.4.16
chardet==3.0.4
colorama==0.3.9
discord==0.0.2
discord.py==0.16.12
idna==2.7
more-itertools==4.2.0
multidict==4.3.1
pip-autoremove==0.9.1
pluggy==0.6.0
py==1.5.4
pytest==3.6.3
pytz==2018.5
requests==2.19.1
six==1.11.0
termcolor==1.1.0
urllib3==1.23
websockets==3.4
